/* src/components/LoginForm/index.css */
@import '/src/assets/style/variables.css';

.signin-button {
    font-family: Arial, sans-serif;
    text-align: center;
    color: var(--white-color);
    margin-bottom: 25px;
}

.login-container {
    font-family: Arial, sans-serif;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 3px solid var(--dark-browb-color);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    background-color: #ecac7c;
    box-shadow:
        0px 8px 14px rgba(0, 0, 0, 1.6), /* Sombra padrão mais suave */
        0px 12px 40px rgba(0, 0, 0, 1); /* Opcional: uma segunda sombra para profundidade */
}

.login-container h2 {
    text-align: center;
    color: black;
    margin-bottom: 25px;
    background-color: rgba(138, 82, 55, 0.3);
    width: 35%; /* Define que o h2 ocupe 60% da largura da div pai */
    margin-left: auto; /* Centraliza o h2 horizontalmente */
    margin-right: auto; /* Centraliza o h2 horizontalmente */
    border-radius: 10px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: black;
}

.form-group input {
    width: calc(100% - 20px); /* Largura total menos o padding */
    padding: 10px;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 16px;
}

.signin-Link {
    text-decoration: none;
    color: var(--red-dark-plus-color);
}

.signin-Link:hover {
    color: var(--white-color); /* Uma versão mais escura da cor ao passar o mouse */
    text-decoration: underline; /* Adiciona sublinhado no hover para indicar que é clicável */
}

.form-group input:focus {
    outline: none;
    border-color: var(--dark-brown-color);
    box-shadow: 0 0 0 3px rgba(113, 60, 34, 0.45);
}

.login-button {
    padding: 12px 20px;
    background-color: var(--red-color);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: var(--red-dark-plus-color);
}

.login-button:active {
    background-color: var(--white-color);
}
